.card {
  background-color: white;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  .card-image {
    background-color: #e5dddd;
    width: 100%;
    max-width: 30rem;
    img {
      width: 100%;
    }
  }
  .card-body {
    h3 {
      color: #4b4bd5;
      margin: 1rem 0;
    }
    dl {
      display: flex;
      flex-wrap: wrap;

      dt {
        width: 50%;
        font-weight: 600;
      }
      dd {
        color: #4b4bd5;
      }
    }
  }
}
